VITE_SUPABASE_URL=https://xxqsjoyjokrgnqvtlakj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4cXNqb3lqb2tyZ25xdnRsYWtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1MjE0NzYsImV4cCI6MjA3NzA5NzQ3Nn0.R5mFfqYlVIwe_lXBRxMYAw6GMj_lZ0AHe5p5btk-ra4